@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
	--color-background: #fff9e3;
	--color-foreground: #081126;
	--color-card: #fff9e3;
	--color-muted: #081126;
	--color-muted-foreground: rgba(0, 0, 0, 0.6);
	--color-primary: #fbbf24;
	--color-accent: #fbbf24;
	--color-border: rgba(0, 0, 0, 0.1);
	--color-success: #22c55e;
	--color-destructive: #ef4444;
	--color-subscription: #3b82f6;

	--spacing-0: 0px;
	--spacing-1: 4px;
	--spacing-2: 8px;
	--spacing-3: 12px;
	--spacing-4: 16px;
	--spacing-5: 20px;
	--spacing-6: 24px;
	--spacing-7: 28px;
	--spacing-8: 32px;
	--spacing-9: 36px;
	--spacing-10: 40px;
	--spacing-11: 44px;
	--spacing-12: 48px;
	--spacing-14: 56px;
	--spacing-16: 64px;
	--spacing-18: 72px;
	--spacing-20: 80px;
	--spacing-24: 96px;
	--spacing-30: 120px;

	--font-poppins: Poppins-Regular;
	--font-poppins-medium: Poppins-Medium;
	--font-poppins-bold: Poppins-Bold;
	--font-poppins-thin: Poppins-Thin;
	--font-poppins-light: Poppins-Light;
}

@layer components {
	/* Custom styles for components can be added here */

	.tabs-icon {
		@apply size-12 items-center justify-center;
	}

	.tabs-pill {
		@apply size-12 items-center justify-center rounded-full bg-transparent;
	}

	.tabs-active {
		@apply bg-accent;
	}

	.tabs-glyph {
		@apply size-6;
	}
}
